[submodule "third_party/minmea"]
	path = third_party/minmea
	url = https://github.com/kosma/minmea.git
[submodule "third_party/e-Paper"]
	path = third_party/e-Paper
	url = https://github.com/waveshareteam/e-Paper
